/* common shared styles */
body {
    font-family: 'Lato', sans-serif;
    margin: 0;
}
.btn-primary{
    border-radius: 5px;
    background:#E55473;
    border: 0;
    color: white;
    font-size: 20px;
    font-weight: 700;
    padding: 12px 30px;
    margin-top: 20px;
}

/* banner related styles */
.banner {
    display: flex;
    background-color: rgba(229, 84, 115, 0.10);
    padding: 0 200px;
    gap: 40px;
    
}
.banner-text{
    width: 50%;
    text-align: left;
    padding: 0;
}
#banner-btn{
    /* margin-bottom: 150px; */
}
.banner-image{
    width: 50%;
    text-align: right;
    padding-top: 50px;
    
}


.banner-title {
    color: #272727;
    font-size: 80px;
    font-weight: 800;
}

.banner-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin: 30px 0;
}
.featured{
    text-align: center;
    margin-top: 180px;
}
.featured-title{
    
}
.featured-description{

}