/* common shared styles */
body {
    font-family: 'Lato', sans-serif;
    margin: 0;
}

.btn-primary {
    border-radius: 5px;
    background: #E55473;
    border: 0;
    color: white;
    font-size: 20px;
    font-weight: 700;
    padding: 12px 30px;
    margin-top: 20px;
}

/* banner related styles start */
.banner {
    display: flex;
    background-color: rgba(229, 84, 115, 0.10);
    justify-content: space-between;
    gap: 50px;

}

.banner-content {
    max-width: 600px;
    margin: 150px 0 140px 150px;

}

.profile-pic {
    max-width: 400px;
    margin: 50px 80px 0 0;
}

.banner-title {
    color: #272727;
    font-size: 80px;
    font-weight: 800;
    margin-bottom: 30px;
}

.banner-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 0;
    margin-bottom: 30px;
}

/* banner related styles end */

/* featured related styles start */
.featured {
    text-align: center;
    margin: 150px 400px 50px;
}

.featured-title {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
}

.featured-description {
    text-align: center;
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
}

/* featured related styles end */

/* three flower related styles start */
.three-pink-flower {
    display: flex;
    margin: 0 130px 120px;

}

.flower-text-div {
    margin-right: 20px;
}

.pink-one {
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    width: 350px;
    height: 538px;
}

.pink-one>img {
    margin: 110px 100px 0 0;
    width: 310px;
    height: 428px;
}

.pink-two {
    border-radius: 300px 300px 0px 0px;
    background-color: #DAEFF1;
    width: 350px;
    height: 538px;
}

.pink-two>img {
    margin: 100px 70px 0 50px;
    width: 290px;
    height: 370px;
}

.pink-three {
    border-radius: 300px 300px 0px 0px;
    background-color: #E3ECDB;
    width: 350px;
    height: 538px;
}

.pink-three>img {
    margin: 66px 70px 0 20px;
    width: 314px;
    height: 471px;
}

.pink-text {
    text-align: center;
    color: #272727;
    font-size: 18px;
    font-weight: 700;
    line-height: 35px;
}

/* three flower related styles start */


/* icon related styles start */
.icon-section {
    display: flex;
    background-color: #F4F4F4;
    padding: 80px;
    margin: 100px 150px;
    gap: 100px;
    
}

.icon-text-div {
    text-align: center;
}

.icon {}

.icon-text {
    color: rgba(39, 39, 39, 0.80);
    font-size: 18px;
    font-weight: 600;
    line-height: 35px;
}

/* icon related styles end */